button {
  min-width: 100px;
  min-height: 35px;
  border: 0px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

input {
  height: 30px;
  border: 1px solid black;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

/* Fix to pass Lighthouse: */
label {
  position: absolute;
  top: -1000px;
  left: -1000px;
}
