name: Tests and Lint

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        node-version: [16.x]

    name: OS ${{ matrix.os }} / NodeJS ${{ matrix.node-version }}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install the packages
        run: yarn install --frozen-lockfile --ignore-engines

      - name: Build the code
        run: yarn build

      - name: Check formatting
        run: yarn format:check

      - name: Lint the framework code
        run: yarn lint

      - name: Lint the template code
        run: yarn lint
        working-directory: ./packages/dev

      - name: Run the unit tests
        run: yarn test

      - name: Run the E2E tests
        run: yarn test-e2e
